# Python cache
__pycache__/
*.pyc

# Virtual environment
backend/venv/
venv/

# Node packages
frontend/minor-frontend/node_modules/
node_modules/
dist/

# OS / editor junk
.DS_Store
Thumbs.db

# (Optional) models & large data
backend/models/*.pkl
*.csv
*.xlsx
